### 1. What is the role of try and exception block?

#### Role of try and exception block :

- try and except block helps us to deal with the runtime error in the program.
- runtime error is a kind of error that arises at the time of the execution.

In [4]:
# try and exception block :

def string_concat(a , b):
    
    try:
        
        return a + " " + b
    
    except Exception as e:
         
        return f"Error occured : {e}"

In [5]:
string_concat('Aryan','Das')

'Aryan Das'

In [7]:
string_concat(35,454)

"Error occured : unsupported operand type(s) for +: 'int' and 'str'"

### 2. What is the syntax for a basic try-except block?

In [8]:
try:  # try keyword with colon
    
    pass  # try block of statement

except Exception as e:  # except keyword with Exception class 
    
    pass # except block of statement

In [9]:
def division(a,b):
    
    try:
        
        return a/b
    
    except Exception as e:
        
        return f"Error occured {e}"

In [10]:
division('435',9)

"Error occured unsupported operand type(s) for /: 'str' and 'int'"

In [11]:
division(34,45)

0.7555555555555555

### 3. What happens if an exception occurs inside a try block and there is no matching except block?

- the above condition will create the end of line error

In [13]:
def division(a,b):
    
    try:
        
        return a/b
    
#     except Exception as e:
        
#         return f"Error occured {e}"

SyntaxError: unexpected EOF while parsing (<ipython-input-13-b4aa09d9293c>, line 9)

### 4. What is the difference between using a bare except block and specifying a specific exception type?

- In bare except block any kind of error/exception will be catched where as in the specific exception block only specified exception type error will be catched.
<br>

- bare except block deal with broad manner where as specific except block deals in narrow manner

In [9]:
# bare except block :

def division(a,b):
    
    try:
        
        return a/b
    
    except Exception as e:
        
        return f"Error occured {e}"

In [14]:
division(45,0)

'Error occured division by zero'

In [15]:
division(34,'sdaf')

"Error occured unsupported operand type(s) for /: 'int' and 'str'"

In [16]:
# specific exception :

def division(a,b):
    
    try:
        
        return a/b
    
    except ZeroDivisionError as e:
        
        return f"Error occured {e}"

In [17]:
division(34,0)

'Error occured division by zero'

In [18]:
division(34,'df')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

### 5. Can you have nested try-except blocks in Python? If yes, then give an example.

- yes , we can have the nested try except block in python.

In [26]:
def digit_counter(num):
    
    try:
        num = int(num)
        try:
            count = 0
            for i in str(num):
                count+=1

            return count

        except Exception as e:
            return f'Error occured as : {e}'
            
    except Exception as e:
         
        return f'Error occured as : {e}'

In [27]:
digit_counter(34)

2

In [28]:
digit_counter('dff')

"Error occured as : invalid literal for int() with base 10: 'dff'"

### 6. Can we use multiple exception blocks, if yes then give an example.

- yes we can have multiple exception blocks.

In [30]:
try:
    
    for i in [23,34,45,56]:
        print(i)
        
except Exception as e:
    print(e)
    
    
try :
    
    print('The assignment is for exception handling!')

except Exception as e:
    print(e)

23
34
45
56
The assignment is for exception handling!

### 7. Write the reason due to which following errors are raised:
```
a. EOFError
b. FloatingPointError
c. IndexError
d. MemoryError
e. OverflowError
f. TabError
g. ValueError
```

- <b>EOFError</b> : this error occurs when input statement provides no input to code.
- <b>FloatingPointError</b> : Arises when floating point operations fails
- <b>IndexError</b> : arises when index is out of the range.
- <b>MemoryError</b> : arises when memory gets smaller for the operation to be run.
- <b>OverflowError</b> : arises when an result of arithmetic operation is too large to be represented.
- <b>TabError</b> : raised when program contains inconsistent tabs
- <b>ValueError</b> : raised when some function gets wrong data type for operation.

### 8. Write code for the following given scenario and add try-exception block to it.

```
a. Program to divide two numbers
b. Program to convert a string to an integer
c. Program to access an element in a list
d. Program to handle a specific exception
e. Program to handle any exception

```

### a. Program to divide two numbers

In [45]:
def division(num1,num2):
    
    try:
        return num1/num2
    
    except Exception as e:
        return f"Error occured : {e}"

In [46]:
division(45,5)

9.0

In [47]:
division(34,'df')

"Error occured : unsupported operand type(s) for /: 'int' and 'str'"

### b. Program to convert a string to an integer

In [48]:
def convertion(a):
    
    try :
        a = int(a)
        return a
    
    except Exception as e:
        return f"Error occured : {e}"

In [49]:
convertion('df')

"Error occured : invalid literal for int() with base 10: 'df'"

In [50]:
convertion('34')

34

### c. Program to access an element in a list

In [52]:
list_ = [12,23,34,45,56,67]
index = input("Enter the index : ")

try:
    index = int(index)
    print(list_[index])
    
except Exception as e:
    print(f'Error occured : {e}')

Enter the index : df
Error occured : invalid literal for int() with base 10: 'df'

### d. Program to handle a specific exception

In [58]:
def name_printing(firstname,lastname):
    
    try:
        return firstname + ' ' + lastname
    
    except TypeError as e:
        return f'TypeError occured in the program : {e}'

In [59]:
name_printing(456,34)

"TypeError occured in the program : unsupported operand type(s) for +: 'int' and 'str'"

### e. Program to handle any exception

In [60]:
def division(num1,num2):
    
    try :
        
        return num1/ num2
    
    except Exception as e:
        
        return f'Error occured : {e}'

In [61]:
division(34,'df')

"Error occured : unsupported operand type(s) for /: 'int' and 'str'"

In [62]:
division('df','df')

"Error occured : unsupported operand type(s) for /: 'str' and 'str'"

In [63]:
division(34,0)

'Error occured : division by zero'